.wrapper {
  max-width: 540px;
  min-height: 100%;
  padding: 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.adviceBox {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 330px;
  background-color: hsl(219, 19%, 24%);
  text-align: center;
  padding: 50px 50px 80px;
  border-radius: 15px;
  box-shadow: 0px 0px 29px 5px rgba(50, 58, 73, 0.52);
  -webkit-box-shadow: 0px 0px 29px 5px rgba(50, 58, 73, 0.52);
  -moz-box-shadow: 0px 0px 29px 5px rgba(50, 58, 73, 0.52);
}
.adviceBoxTitle {
  font-size: 15px;
  letter-spacing: 4px;
  color: hsl(150, 100%, 66%);
  margin-bottom: 35px;
}
.adviceBoxText {
  margin-bottom: 55px;
}
.adviceBoxImg {
  display: block;
  width: 100%;
}
.adviceBoxButton {
  all: unset;
  font-size: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -36px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-image: url("./../assets/images/icon-dice.svg"),
    linear-gradient(to right, hsl(150, 100%, 66%), hsl(150, 100%, 66%));
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.5s;
}
.adviceBoxButton:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 30px 5px rgba(82, 255, 168, 0.49);
  -webkit-box-shadow: 0px 0px 30px 5px rgba(82, 255, 168, 0.49);
  -moz-box-shadow: 0px 0px 30px 5px rgba(82, 255, 168, 0.49);
}

@media screen and (max-width: 375px) {
  .adviceBox {
    padding: 40px 25px 70px;
  }
  .adviceBoxText {
    margin-bottom: 40px;
  }
}
